In [3]:
#Adds an element to the end of the list.
my_list=[1,2,3]
my_list.append([4])
print(my_list)

[1, 2, 3, [4]]

In [7]:
my_list=[1,2,3]
my_list.extend([5])
print(my_list)

[1, 2, 3, 5]

In [13]:
#Inserts an element at a specific position.
my_list=[1,4,5,6,7]
my_list.insert(4,3)
print(my_list)

[1, 4, 5, 6, 3, 7]

In [15]:
my_list[2]=10
my_list

[1, 4, 10, 6, 3, 7]

In [43]:
#Removes the first occurrence of a specified value.
my_list=[1,2,3,4,5]
my_list.remove(4)
print(my_list)

[1, 2, 3, 5]

In [39]:
#Removes and returns the element at the given index (last by default).
my_list=[1,2,3,4,5]
del(my_list)

In [45]:
#Removes all items from the list.
my_list=[1,2,3,4,5]
my_list1=my_list.clear()
print(my_list1)

None

In [47]:
#Returns the index of the first matched element.
my_list=[1,2,3,4,5]
my_list1=my_list.index(4)
print(my_list1)

3

In [49]:
my_list[3]

4

In [51]:
#Returns the number of occurrences of a value.
my_list=[1,2,3,2,4,5]
my_list1=my_list.count(2)
print(my_list1)

2

In [59]:
#Sorts the list in place (ascending by default).
my_list=[10,9,1,2,4,3,5]
a=sorted(my_list)
print(a)

[1, 2, 3, 4, 5, 9, 10]

In [71]:
#Reverses the order of elements in the list.
my_list=[1,2,3,4,5]
a=list(reversed(my_list))
a

[5, 4, 3, 2, 1]

In [93]:
#Returns a shallow copy of the list.
my_list=[1,2,3,4,5]
my_list.extend({5})
my_list

[1, 2, 3, 4, 5, 5]

In [9]:
#Returns the number of elements.
text=[1,2,3,4,5]
text1=len(text)
text1

5

In [59]:
#Checks if a value exists.
text=[1,2,3,4,5]
print(2 in text)

True

In [109]:
#+ (Concatenation
list=(1,2,3,4)
list2=(5,6,7,8)
a=list|list2
a

TypeError: unsupported operand type(s) for |: 'tuple' and 'tuple'

In [105]:
#* (Repetition)
text=[1,2,4,5]
print(text*5)

[1, 2, 4, 5, 1, 2, 4, 5, 1, 2, 4, 5, 1, 2, 4, 5, 1, 2, 4, 5]

In [83]:
#Deletes an item by index.
list=[1,2,3,4]
del list[3]
print(list)

[1, 2, 3]

In [97]:
#Returns a new sorted list (original remains unchanged).
list=[4,3,5,1]
list1=sorted(list)
print(list1)
print(list)

[1, 3, 4, 5]
[4, 3, 5, 1]

In [113]:
list=[4,3,5,1]
a=list.sort()
print(a)

None

In [123]:
#Returns index-value pairs.
#zip()
lst1=[1,2,3]

lst2=[4,5,6]
zipped=set(zip(lst1,lst2))
print(zipped)

{(2, 5), (1, 4), (3, 6)}

In [15]:
#Finds the maximum value.
list=[1,2,3,4,5]
print(max(list))

5

In [17]:
list=[1,2,3,45]
print(min(list))

1

In [1]:
#Returns the sum of elements.
sum=0
list=[1,2,3,4]
for i in list:
    sum=sum+i
print([sum])

[10]

In [25]:
num=int(input("enter a num:"))
if num<=1:
    print("it is not a prime")
else:
    for i in range(2,num):
        if num%i==0:
            print("it is not a prime")
            break
    else:
        print("it is a prime")

enter a num: 9

it is not a prime