In [24]:
import sqlite3
db="student.db"
conn=sqlite3.connect(db)
conn.execute("""create table if not exists stud1(
            stud_id int,
            stud_name varchar(20),
            stud_age int,
            stud_address varchar(20))""")
conn.execute("insert into stud1 values(1,'pavan',22,'hyderbad'),(2,'prasad',23,'hyderbad')")
a=conn.execute("select *from stud1")
for i in a:
    print(i)
conn.commit()

(1, 'pavan', 22, 'hyderbad')
(1, 'pavan', 22, 'hyderbad')
(2, 'prasad', 23, 'hyderbad')
(1, 'pavan', 22, 'hyderbad')
(2, 'prasad', 23, 'hyderbad')