In [1]:
#string functions
#Converts all characters to uppercase.
text="pavan"
print(text.upper())

PAVAN

In [3]:
#onverts all characters to lowercase.
#Capitalizes the first letter.
text=" pavAN"
print(text.lower())
print(text.capitalize())
print(text.strip())

 pavan
 pavan
pavAN

In [9]:
#Removes leading and trailing spaces.
text="  pavan      "
print(text.strip())

pavan

In [107]:
#Returns the index of the first occurrence.

text="Hello world"
print(text.find("world"))

6

In [17]:
#Replaces a substring.
text="pavan is a dancer"
print(text.replace("dancer","singer"))

pavan is a singer

In [109]:
#Gives the length of the string.
text="pavan"
print(len(text))

5

In [15]:
#Checks if string starts with a substring.
#hecks if string ends with a substring.
text="Hello world"
abd=text.startswith("Hello")
print(abd)
print(text.endswith("Hello"))

True
False

In [25]:
#Splits string into list based on separator.
text="a,b,c"
print(text.split(','))

['a', 'b', 'c']

In [13]:
#Joins a list into a string using a separator
text=['a','b','c']
print(','.join(text))

a,b,c

In [141]:
#Capitalizes first letter of each word.
text="pavan is an  officer"
print(text.title())

Pavan Is An  Officer

In [15]:
#checks if all characters are lowercase.
text="pavan is A hero"
print(text.islower())

False

In [17]:
text="PAVAN IS A HERO"
print(text.isupper())

True

In [19]:
#Checks if all characters are digits.
text="123465468"
print(text.isdigit())

True

In [33]:
text="hellopavan"
print(text.isalpha())

True

In [35]:
#Checks if all characters are numeric (including Unicode numbers).
text = "123"
print(text.isnumeric())

True

In [37]:
#Checks if each word starts with an uppercase letter.
text = "Hello World"
print(text.istitle())

True

In [39]:
#Checks if the string contains only whitespace.
text = " "
print(text.isspace())

True

In [41]:
#Returns the index of the first occurrence (like find(), but throws an error if not found).
text = "python"
print(text.index("t"))

2

In [1]:
#Finds the last occurrence of a substring.
text = "hello hello"
print(text.find("hello"))

0

In [21]:
#Like rfind(), but throws an error if not found.
text = "1abncdbc"
print(text.rindex("a"))

1

In [57]:
#Swaps lowercase to uppercase and vice versa
text = "Hello"
print(text.swapcase())  # Output: "hELLO"

hELLO

In [59]:
#Counts how many times a substring appears.
text = "banana"
print(text.count("a"))

3

In [3]:
#Pads the string on the left with zeros to make it width long.
text = "42"
print(text.zfill(6))

000042

In [25]:
#Removes spaces or characters from the left side.
text = "hello  "
print(text.lstrip())

hello

In [27]:
#Removes spaces or characters from the right side.
text = "hello   "
print(text.rstrip())

hello

In [29]:
#Checks if the string is a valid Python identifier (like variable name).
text = "var1"
print(text.isidentifier())

True

In [87]:
#Encodes string to bytes (useful in file handling or network).
text = "hello"
print(text.encode())

b'hello'

In [5]:
#Centers the string in a field of given width.
text = "hi"
print(text.center(8, "-"))

---hi---

In [15]:
x=['a','b','c',]
y=[1,2,3]
z=dict(zip(x,y))
print(z)

{'a': 1, 'b': 2, 'c': 3}

In [49]:
def add(a,b):
    sum=a+b
    print(sum)
add(2,3)
add(5,6)

5
11

In [3]:
def tar_val(x,y,tar_val):
    tar_val=9
    for i in range(len(x)):
        for j in range(i+1,len(x)):
            for z in range(i+2,len(x)):
                if x[i]+x[j]+x[z]==tar_val:
                    return i,j,z
    return x
x=[1,2,4,5]
print(tar_val(x,y,tar_val))

NameError: name 'y' is not defined